@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, there!</h1>

<hr/>

Welcome to this intro of Blazor, i hope its gonna be a fun journey,...<br/> and  so far im enjoying !.

<Counter IncrementAmount="10" />